@charset "utf-8";
/* page */










/* 정의형 목록 type1 */
.deflist_type1 {overflow:hidden; margin:0.75em 0;}
.deflist_type1 dt {float:left; width:33%; padding:0 0 0 2%; color:#909090;}
.deflist_type1 dd {margin:0 0 0 35%; padding:0 2% 0 0; color:#000;}
